In [1]:
import pandas as pd

In [2]:
sales=pd.read_csv('sales.csv')
sales['Date']=pd.to_datetime(sales['Date'])
sales.set_index('Date', inplace=True)
sales.head()

               Name  Amount
Date
2020-01-01      Neo    23.2
2020-01-01  William    23.4
2020-01-01    Harry    24.2
2020-01-02    Harry    22.4
2020-01-02  William    23.4

In [3]:
daily_max = sales[sales.groupby('Date')['Amount'].transform(max)==sales['Amount']]
daily_max

               Name  Amount
Date
2020-01-01    Harry    24.2
2020-01-02      Neo    24.3
2020-01-03  William    23.4
2020-01-03      Neo    23.4
2020-01-03    Harry    23.4
2020-01-04    Harry    26.7
2020-01-05    Harry    26.7

In [4]:
sales_record=daily_max[(daily_max['Amount']>daily_max.shift(1)['Amount'])].append(daily_max.iloc[0,:]).sort_index()

In [5]:
sales_record

             Name  Amount
Date
2020-01-01  Harry    24.2
2020-01-02    Neo    24.3
2020-01-04  Harry    26.7